<center>
<form action="/donor" method="POST">
<div>Food Details</div><br>
<div>
    <div>
        Food Items
        </div>
        <div>
            <input type="text" name="fooditems" placeholder="Food Items" required>
    </div>
    <div>
       Quantity</div>
       <div><input type="text" name="quantity" placeholder="Quantity"  required>
    </div>
    <div>
        Email
        </div>
        <div>
            <input type="email" name="email" placeholder="email" required>
    </div>
    <div>
       Contact No</div>
       <div>
       <input type="number" name="contactno" placeholder="Phone no"  required>
    </div>
    <div>
        Meeting point
    </div>
    <div><input type="text" name="meetingpoint" placeholder="meeting point">
    <div>Expiry Date</div>
    <div><input type="date" name="expirydate"></div>
    </div>
   <div>Food Type</div>
    <div>
       Non Veg <input type="radio" name="foodtype" required>
       Veg <input type="radio" name="foodtype" required>
   </div>
 
    <br>
    <div>
      <input type="submit" name="submit" value="Submit">
    </div> 

</div>
</form>

</center>