<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
                    #my_camera{
                        width: 320px;
                        height: 240px;
                        border: 1px solid black;
                    }
                </style>

</head>

<body>
    
<center>
<form action="/donor" method="POST">
<div>Food Details</div><br>
<div>
    <div>
        Donar Name:
        </div>
        <div>
            <input type="text" name="donar" placeholder="donar" required>
    </div>
    <div>
        Food Items
        </div>
        <div>
            <input type="text" name="fooditems" placeholder="Food Items" required>
    </div>
    <div>
       Quantity</div>
       <div><input type="text" name="quantity" placeholder="Quantity"  required>
    </div>
    <div>
        Email
        </div>
        <div>
            <input type="email" name="email" placeholder="email" required>
    </div>
    <div>
       Contact No</div>
       <div>
       <input type="number" name="contactno" placeholder="Phone no"  required>
    </div>
    <div>
        Meeting point
    </div>
    <div><input type="text" name="meetingpoint" placeholder="meeting point">
    <div>Expiry Date</div>
    <div><input type="date" name="expirydate"></div>
    </div>
   <div>Food Type</div>
    <div>
        <input type="radio" name="foodtype" value="Non veg" required>Non Veg</input>
        <input type="radio" name="foodtype" value="Veg" required>Veg</input>
   </div>
 
    <br>
    
</div>

<div class="modal-dialog">

            <div class="modal-body">
        
                <div id="my_camera"></div>
                <input type=button value="Take Snapshot" onClick="take_snapshot()" name="snapshot">

                <div id="results" name="results" ></div>
                

                <!-- Webcam.min.js -->
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>

                <!-- Configure a few settings and attach camera -->
                <script language="JavaScript">
                    Webcam.set({
                        width: 320,
                        height: 240,
                        image_format: 'jpeg',
                        jpeg_quality: 90
                    });
                    Webcam.attach('#my_camera');

// <!-- Code to handle taking the snapshot and displaying it locally -->
                    function take_snapshot() {

                        // take snapshot and get image data
                        Webcam.snap(function (data_uri) {
                            // display results in page
                            document.getElementById('results').innerHTML =
                                    '<img src="' + data_uri + '"/>';
                        });
                    }
                </script>
            </div>
            
        </div>

    </div>
</div>
<div>
      <input type="submit" name="submit" value="Submit">
    </div> 
</body>
</html>