<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed The Need</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
     crossorigin="anonymous">
<style>
body{
background-image: url('https://global.unitednations.entermediadb.net/assets/mediadb/services/module/asset/downloads/preset/assets/2019/07/15-07-2019_UNICEF_food-security_311096.jpg/image1170x530cropped.jpg');
             background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        }
footer{

  background-color: black;
  height: 150px;
  margin-top: 200px;
  color: white;
}


button{
  background-color: rgb(124, 14, 124);
  color: white;
  margin-left: 20px;
  border: none;
  
}
a{
  color: white;
  border: none;
}
p{
  color: white;
}
h1{
  color: white;
  margin-left: 10px;
  margin-top: 20px;
}
</style>     
</head>
<body>
    {{>navbar}}
 <h1 >Feed People,<br>Not Landfill.</h1>

  <button >
  
  <a href="/donor">Donate</a>

  </button>


   <footer>
<h1>We are on Mission to slove Hunger join the cause</h1>
<button>
  <a href="/donor">Volunteer</a></button>


</footer>
   
</body>

</html>