<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
</head>
<body bgcolor="black" style="color:white">
<p>

<h3>Instructions</h3>
<p>1.Please Make sure Food is Untouched.</p>
<p>2.Make sure you wear mask and gloves while packing the food.</p>
<p>3.Maintain Hygiene</p>
<p>4.Make Sure you use spill proof container.</p>
</p>    
<h3>Thank you for your donation.<br></h3>
</body>
</html>