<center>
<form action="/login" method="post">
  

  <div class="container">
      <h2>LOGIN</h2>
      <div>
              <input type="email" placeholder="Email" name="email" required>

      </div>
   <div>
           <input type="password" placeholder="Password" name="password" required>

   </div>
<div>
        <button type="submit">Login</button>

</div>
    
      <input type="checkbox" checked="checked" name="remember"> Remember me

  </div>

    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
</center>