
<center>
<form action="/register" method="POST">
<a href="/login">Already Register??</a><br><br>
<div>Register Form</div><br>
<div>
    <div>
        <input type="text" name="firstname" placeholder="Full Name" required>
    </div>
    <div>
        <input type="email" name="email" placeholder="Email"  required>
    </div>
    <div>
        <input type="number" name="phoneno" placeholder="Phone no"  required>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password"  required>
    </div>
    <div>
        <input type="password" name="cpassword" placeholder="Confirm Password" required>
    </div>
    <br>
    <div>
      <input type="submit" name="register" value="Register">
    </div> 

</div>
</form>

</center>